
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary */
.hero-anime {
    color: #fff;
}

/* custom scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-item {
    animation: fadeInUp 0.5s ease-in-out 0s forwards;
    opacity: 0;
}
.top-nav {
    height: 48px;
    color: #ffffff;
    padding: 0px 30px;
    background-image: linear-gradient(to right, #3a6dbb, #0096d4, #00b9c2, #1bd490, #bbe460);
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.menu .sub-menu {
    padding: 0px 20px;
    cursor: pointer;
}
.blue-bg {
    background: #3A6DBB;
}
.green-bg {
    background: #BBE460;
}
.about-block {
    background-image: url(./images/lap-tea-book.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #8167a9 !important;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}
.navbar-brand {
    font-weight: 600;
}
.top-100 {
    top: 100px;
}
.pos-rel {
    position: relative;
}
.quick-access {
    margin-top: 6%;
    color: #f8f9fa;
}
.quick-links span {
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: all 200ms linear;
}
.quick-links span:hover {
    background: #3A6DBB;
    border-radius: 6px;
    padding: 8px 10px;
}
.quick-links span a {
    text-decoration: none;
    color: inherit;
}
.f-24 {
    font-size: 24px;
}
.my-photo {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
    overflow: hidden;
}
.about {
    margin: 30px;
    font-weight: 700;
    font-size: 28px;
    border-bottom: 2px solid #f1efef;
    color: #08ff08;
}
.mb-20 {
    margin-bottom: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.fw-500 {
    font-weight: 500;
}
.mt-20 {
    margin-top: 20px;
}
.education-card {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 28%);
}
.first {
    animation-delay: 1s;
}
.second {
    animation-delay: 2s;
}
.third {
    animation-delay: 3s;
}
.fourth {
    animation-delay: 4s;
}
.edu-title {
    font-size: 20px;
    font-weight: 600;
}
.mb-10 {
    margin-bottom: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.education-card span {
    display: inline-block;
}
.gred-1 {
    background-image: linear-gradient(to right top, #54729f, #0098c8, #00bdc0, #00da84, #a8eb12);
}
.gred-2 {
    background-image: linear-gradient(to right top, #32dbe1, #00c7e8, #30b2e6, #599adb, #7782c5);
}
.gred-3 {
    background-image: linear-gradient(to right top, #32a4e1, #4f9ae0, #698fdb, #7f83d2, #9377c5);
}
.gred-4 {
    background-image: linear-gradient(to right top, #32c3e1, #3ac9c7, #66cba8, #93ca8a, #bec577);
}




/* animation */
@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

/* Media */

@media (max-width: 767px) { 
    h1{
        font-size: 38px;
    }
    .nav-item:after{
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    body.dark .nav-item::before {
        background-color: #fff;
    }
}













:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s;
}


@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.50deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

[data-animation] {
  opacity: 0;
  animation-timing-function: var(--animation-timing-function);
  animation-fill-mode: both;
  animation-duration: var(--animation-duration);
  will-change: transform, opacity;
}

.slideInUp {
  animation-name: slideInUp;
}
.slideInDown {
  animation-name: slideInDown;
}
.slideInLeft {
  animation-name: slideInleft;
}
.slideInRight {
  animation-name: slideInRight;
}
.fadeIn {
  animation-name: fadeIn;
}
.zoomIn {
  animation-name: zoomIn;
}
.zoomReverseIn {
  animation-name: zoomReverseIn;
}
.flipInY {
  animation-name: flipInY;
}
.flipOutY {
  animation-name: flipInY;
  animation-direction: reverse;
}
